<html>
  <head>
    <link rel="stylesheet" href="/css/cointipper.css">
  </head>
  <body style="overflow:hidden;">
    
    <div id="frame">
      <!-- load donate button -->
      <div id="button"></div>
    </div>

    <!-- load jquery.coinTipper and its dependencies -->
    <script src="/js/jquery-2.0.2.js"></script>
    <script src="/js/jquery.cointipper.js"></script>

    <script>
      $(function() {    
        $('#button').coinTipper({
          type: '<%= @type %>',
          currency: '<%= @currency %>',
          iso: '<%= @iso %>',
          label: '<%= @label %>',
          address: '<%= @address %>'
        });
      });
    </script>
  </body>
</html>